.comment_button {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin-bottom: 1em;
  /*padding-left: 1em;*/
  background-color: #ddd;

  border-radius: 10px;
  /*border-width: 10px;*/
  /*border-color: #282c34;*/
  padding: 10px;
  border: 3px #0F0326;
  /*margin-bottom: 10px;*/
}

.vote-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}

.vote-up {
  width: 1.5em;
  height: 1.5em;
  background-image: url("./../images/arrow-up.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.vote-down {
  width: 1.5em;
  height: 1.5em;
  background-image: url("./../images/down-filled-triangular-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.vote-count {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.comment-text {
  flex: 1;
}


.comment-username {
  position: relative;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 18px;
  border: none;
  background-color: #ffffff;
  color: #0077ff;
  border-radius: 10px;
}