.flashcard {
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.flashcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.question {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}

.question::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.question::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.question::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}


/*.answer {*/
/*  display: none;*/
/*  font-size: 1.2em;*/
/*  color: #fff;*/
/*  background-color: #444;*/
/*  border-radius: 5px;*/
/*  padding: 1em;*/
/*  margin-top: 1em;*/
/*  overflow-y: auto;*/
/*  max-height: 100%;*/
/*}*/

.answer {
  display: none;
  font-size: 1.2em;
  color: #fff;
  background-color: #444;
  border-radius: 5px;
  padding: 1em;
  margin-top: 1em;
  overflow-y: scroll;
  max-height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}

.answer::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.answer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.answer::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}

.visible {
  display: block;
}