.flashcard-full {
  background-color: #FDFDFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  padding: 2em;
  width: 100vw;
  height: 100vh;
}

/*.flashcard {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/

/*}*/
/*.question-box {*/

/*}*/

.question-full {
  flex: 1;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 40px;
  /*padding-left: 40px;*/
  /*padding-top: 50px;*/
  margin-bottom: 20px;
}

.comments-full {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.comment {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.text {
  flex: 1;
}

.votes {
  margin-left: 1em;
  font-size: 0.8em;
}


.new-comment-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #ddd;
  opacity: 0.8;
}

.new-comment-input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  resize: vertical;
}

.new-comment-submit {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.new-comment-submit:hover {
  background-color: #555;
}

.right-pane {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.comments-without-form {
  overflow-y: scroll;
  height: calc(100vh - 150px); /* Subtract the height of the question and comment form from the viewport height */
}

.show-more-less {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.show-more-less:hover {
  background-color: lightblue;
}